#forgotpassword {
    display: flex;
    height: fit-content;
    width: 100vw;
    justify-content: center;
    align-self: flex-start;
}

#forgotpassword .row>.column>.column {
    display: flex;
    justify-content: center;
    margin-top: 30%;
    margin-bottom: 20%;
}

#forgotpassword .card {
    height: fit-content;
    min-width: 35vw;
    background-color: white;
    border-radius: 1rem;
}

#forgotpassword .card-title {
    font-family: "Roboto";
    font-weight: 700;
}

#forgotpassword .btn {
    margin-top: 5%;
    width: 100%;
    font-family: "Roboto";
    font-weight: 700;
    color: rgb(240, 240, 240);
    background-color: rgb(74, 163, 152);
}

#forgotpassword .btn:hover {
    opacity: 80%;
}

#forgotpassword .link-div {
    margin-top: 3%;
    font-family: "Roboto";
    font-weight: 700;
}